:root {
	--pcolor: #28c2f0;
	--pcolor1: rgba(40, 194, 240, 0.08);
	--pcolor2: rgba(40, 194, 240, 0.12);
	--pcolor3: rgba(40, 194, 240, 0.16);
	--pcolor4: rgba(40, 194, 240, 0.24);
	--pcolor5: rgba(40, 194, 240, 0.32);
	--pcolor6: #42c9f2;
	--pcolor8: #25b2dd;
	--pcolor9: #22a3ca;
	--pcolor10: #1b84a3;
	--scolor: #3dc799;
	--scolor1: rgba(61, 199, 153, 0.08);
	--scolor2: rgba(61, 199, 153, 0.12);
	--scolor3: rgba(61, 199, 153, 0.16);
	--scolor4: rgba(61, 199, 153, 0.24);
	--scolor5: rgba(61, 199, 153, 0.32);
	--scolor6: #54cea5;
	--scolor8: #38b78d;
	--scolor9: #33a781;
	--scolor10: #298768;
	--wcolor: #fbad3b;
	--wcolor1: rgba(251, 173, 59, 0.08);
	--wcolor2: rgba(251, 173, 59, 0.12);
	--wcolor3: rgba(251, 173, 59, 0.16);
	--wcolor4: rgba(251, 173, 59, 0.24);
	--wcolor5: rgba(251, 173, 59, 0.32);
	--wcolor6: #fbb753;
	--wcolor8: #e79f36;
	--wcolor9: #d39132;
	--wcolor10: #ab7628;
	--ecolor: #f64343;
	--ecolor1: rgba(246, 67, 67, 0.08);
	--ecolor2: rgba(246, 67, 67, 0.12);
	--ecolor3: rgba(246, 67, 67, 0.16);
	--ecolor4: rgba(246, 67, 67, 0.24);
	--ecolor5: rgba(246, 67, 67, 0.32);
	--ecolor6: #f75a5a;
	--ecolor8: #e23e3e;
	--ecolor9: #cf3838;
	--ecolor10: #a72e2e;
	--lcolor: #28c2f0;
	--lcolor1: rgba(40, 194, 240, 0.08);
	--lcolor2: rgba(40, 194, 240, 0.12);
	--lcolor3: rgba(40, 194, 240, 0.16);
	--lcolor4: rgba(40, 194, 240, 0.24);
	--lcolor5: rgba(40, 194, 240, 0.32);
	--lcolor6: #42c9f2;
	--lcolor8: #25b2dd;
	--lcolor9: #22a3ca;
	--lcolor10: #1b84a3;
	--gray: #ffffff;
	--gray1: rgba(255, 255, 255, 0.08);
	--gray2: rgba(255, 255, 255, 0.12);
	--gray3: rgba(255, 255, 255, 0.16);
	--gray4: rgba(255, 255, 255, 0.24);
	--gray5: rgba(255, 255, 255, 0.32);
	--gray6: rgba(255, 255, 255, 0.48);
	--gray7: rgba(255, 255, 255, 0.64);
	--gray8: rgba(255, 255, 255, 0.72);
	--gray9: rgba(255, 255, 255, 0.88);
	--bgColor1: #11161a;
	--bgColor2: #191d21;
	--bgColor3: #202529;
	--bgColor4: #262b2e;
	--bgColor5: #191d21;
	--bgColor6: #aa55ff;
	--switch: #ffd457;
	--switch2: rgb(255, 255, 255);
}