/* 深色模式 */
html[data-theme="dark"] {
    --pcolor: #28c2f0;
    --pcolor1: rgba(40, 194, 240, 0.08);
    --pcolor2: rgba(40, 194, 240, 0.12);
    --pcolor3: rgba(40, 194, 240, 0.16);
    --pcolor4: rgba(40, 194, 240, 0.24);
    --pcolor5: rgba(40, 194, 240, 0.32);
    --pcolor6: #42c9f2;
    --pcolor8: #25b2dd;
    --pcolor9: #22a3ca;
    --pcolor10: #1b84a3;
    --scolor: #3dc799;
    --scolor1: rgba(61, 199, 153, 0.08);
    --scolor2: rgba(61, 199, 153, 0.12);
    --scolor3: rgba(61, 199, 153, 0.16);
    --scolor4: rgba(61, 199, 153, 0.24);
    --scolor5: rgba(61, 199, 153, 0.32);
    --scolor6: #54cea5;
    --scolor8: #38b78d;
    --scolor9: #33a781;
    --scolor10: #298768;
    --wcolor: #fbad3b;
    --wcolor1: rgba(251, 173, 59, 0.08);
    --wcolor2: rgba(251, 173, 59, 0.12);
    --wcolor3: rgba(251, 173, 59, 0.16);
    --wcolor4: rgba(251, 173, 59, 0.24);
    --wcolor5: rgba(251, 173, 59, 0.32);
    --wcolor6: #fbb753;
    --wcolor8: #e79f36;
    --wcolor9: #d39132;
    --wcolor10: #ab7628;
    --ecolor: #f64343;
    --ecolor1: rgba(246, 67, 67, 0.08);
    --ecolor2: rgba(246, 67, 67, 0.12);
    --ecolor3: rgba(246, 67, 67, 0.16);
    --ecolor4: rgba(246, 67, 67, 0.24);
    --ecolor5: rgba(246, 67, 67, 0.32);
    --ecolor6: #f75a5a;
    --ecolor8: #e23e3e;
    --ecolor9: #cf3838;
    --ecolor10: #a72e2e;
    --lcolor: #28c2f0;
    --lcolor1: rgba(40, 194, 240, 0.08);
    --lcolor2: rgba(40, 194, 240, 0.12);
    --lcolor3: rgba(40, 194, 240, 0.16);
    --lcolor4: rgba(40, 194, 240, 0.24);
    --lcolor5: rgba(40, 194, 240, 0.32);
    --lcolor6: #42c9f2;
    --lcolor8: #25b2dd;
    --lcolor9: #22a3ca;
    --lcolor10: #1b84a3;
    --gray: #ffffff;
    --gray1: rgba(255, 255, 255, 0.08);
    --gray2: rgba(255, 255, 255, 0.12);
    --gray3: rgba(255, 255, 255, 0.16);
    --gray4: rgba(255, 255, 255, 0.24);
    --gray5: rgba(255, 255, 255, 0.32);
    --gray6: rgba(255, 255, 255, 0.48);
    --gray7: rgba(255, 255, 255, 0.64);
    --gray8: rgba(255, 255, 255, 0.72);
    --gray9: rgba(255, 255, 255, 0.88);
    --bgColor1: #11161a;
    --bgColor2: #191d21;
    --bgColor3: #202529;
    --bgColor4: #262b2e;
    --bgColor5: #191d21;
    --bgColor6: #202529;
    --switch: #ffd457;
    --switch2: rgb(255, 255, 255);
    --vs-primary: 26, 92, 255;
    --vs-theme-bg: #f4f7f8;
    --vs-theme-color: #2c3e50;
    --vs-theme-layout: #fff;
    --vs-theme-bg2: #eef2f5;
    --vs-theme-code: #3f3d56;
    --vs-theme-code2: #363449;
    --vs-shadow-opacity: .05;
    --vs-radius: 20px;
    --vs-zindex-1: 100000;
    --vs-zindex-2: 100;
    --vs-zindex-3: 98000;
    --vs-zindex-4: 97000;
    --vs-background-opacity: .2;
    --vs-primary: 25, 91, 255;
    --vs-warn: 255, 186, 0;
    --vs-danger: 255, 71, 87;
    --vs-success: 70, 201, 58;
    --vs-dark: 30, 30, 30;
    --vs-light: 244, 247, 248;
    --vs-color: 17, 18, 20;
    --vs-facebook: 59, 89, 153;
    --vs-twitter: 29, 161, 242;
    --vs-youtube: 255, 0, 0;
    --vs-pinterest: 189, 8, 28;
    --vs-linkedin: 0, 119, 181;
    --vs-snapchat: 255, 252, 0;
    --vs-whatsapp: 37, 211, 102;
    --vs-tumblr: 54, 70, 93;
    --vs-reddit: 255, 69, 0;
    --vs-spotify: 30, 215, 96;
    --vs-amazon: 255, 153, 0;
    --vs-medium: 2, 184, 117;
    --vs-vimeo: 26, 183, 234;
    --vs-skype: 0, 175, 240;
    --vs-dribbble: 234, 76, 137;
    --vs-slack: 74, 21, 75;
    --vs-yahoo: 67, 2, 151;
    --vs-twitch: 100, 65, 164;
    --vs-discord: 114, 137, 218;
    --vs-telegram: 0, 136, 204;
    --vs-google-plus: 219, 68, 55;
    --vs-messenger: 0, 132, 255;
    --vs-background: 255, 255, 255;
    --vs-text: 44, 62, 80;
    --vs-gray-1: 249, 252, 253;
    --vs-gray-2: 244, 247, 248;
    --vs-gray-3: 240, 243, 244;
    --vs-gray-4: 230, 233, 234;
}

/*默认亮色主题*/
:root {
    --pcolor: #0aa9db;
    --pcolor1: rgba(10, 169, 219, 0.08);
    --pcolor2: rgba(10, 169, 219, 0.12);
    --pcolor3: rgba(10, 169, 219, 0.16);
    --pcolor4: rgba(10, 169, 219, 0.24);
    --pcolor5: rgba(10, 169, 219, 0.32);
    --pcolor6: #27b3df;
    --pcolor8: #099bc9;
    --pcolor9: #088eb8;
    --pcolor10: #077395;
    --scolor: #1fb4a2;
    --scolor1: rgba(31, 180, 162, 0.08);
    --scolor2: rgba(31, 180, 162, 0.12);
    --scolor3: rgba(31, 180, 162, 0.16);
    --scolor4: rgba(31, 180, 162, 0.24);
    --scolor5: rgba(31, 180, 162, 0.32);
    --scolor6: #3abdad;
    --scolor8: #1da695;
    --scolor9: #1a9788;
    --scolor10: #157a6e;
    --wcolor: #ffaa1a;
    --wcolor1: rgba(255, 170, 26, 0.08);
    --wcolor2: rgba(255, 170, 26, 0.12);
    --wcolor3: rgba(255, 170, 26, 0.16);
    --wcolor4: rgba(255, 170, 26, 0.24);
    --wcolor5: rgba(255, 170, 26, 0.32);
    --wcolor6: #ffb435;
    --wcolor8: #eb9c18;
    --wcolor9: #d68f16;
    --wcolor10: #ad7412;
    --ecolor: #de3030;
    --ecolor1: rgba(222, 48, 48, 0.08);
    --ecolor2: rgba(222, 48, 48, 0.12);
    --ecolor3: rgba(222, 48, 48, 0.16);
    --ecolor4: rgba(222, 48, 48, 0.24);
    --ecolor5: rgba(222, 48, 48, 0.32);
    --ecolor6: #e24949;
    --ecolor8: #cc2c2c;
    --ecolor9: #ba2828;
    --ecolor10: #972121;
    --lcolor: #0b1926;
    --lcolor1: rgba(11, 25, 38, 0.08);
    --lcolor2: rgba(11, 25, 38, 0.12);
    --lcolor3: rgba(11, 25, 38, 0.16);
    --lcolor4: rgba(11, 25, 38, 0.24);
    --lcolor5: rgba(11, 25, 38, 0.32);
    --lcolor6: #1f2b37;
    --lcolor8: #0a1723;
    --lcolor9: #091520;
    --lcolor10: #07111a;
    --gray: #0b1926;
    --gray1: rgba(11, 25, 38, 0.08);
    --gray2: rgba(11, 25, 38, 0.12);
    --gray3: rgba(11, 25, 38, 0.16);
    --gray4: rgba(11, 25, 38, 0.24);
    --gray5: rgba(11, 25, 38, 0.32);
    --gray6: rgba(11, 25, 38, 0.48);
    --gray7: rgba(11, 25, 38, 0.64);
    --gray8: rgba(11, 25, 38, 0.72);
    --gray9: rgba(11, 25, 38, 0.88);
    --bgColor1: #f4f2ec;
    --bgColor2: #ffffff;
    --bgColor3: #f6f6f6;
    --bgColor4: #efefef;
    --bgColor5: #ffffff;
    --bgColor6: #11161a;
    --switch: rgb(11, 25, 38);
    --switch2: #f66927;
    --vs-primary: 26, 92, 255;
    --vs-theme-bg: #f4f7f8;
    --vs-theme-color: #2c3e50;
    --vs-theme-layout: #fff;
    --vs-theme-bg2: #eef2f5;
    --vs-theme-code: #3f3d56;
    --vs-theme-code2: #363449;
    --vs-shadow-opacity: .05;
    --vs-radius: 20px;
    --vs-zindex-1: 100000;
    --vs-zindex-2: 100;
    --vs-zindex-3: 98000;
    --vs-zindex-4: 97000;
    --vs-background-opacity: .2;
    --vs-primary: 25, 91, 255;
    --vs-warn: 255, 186, 0;
    --vs-danger: 255, 71, 87;
    --vs-success: 70, 201, 58;
    --vs-dark: 30, 30, 30;
    --vs-light: 244, 247, 248;
    --vs-color: 17, 18, 20;
    --vs-facebook: 59, 89, 153;
    --vs-twitter: 29, 161, 242;
    --vs-youtube: 255, 0, 0;
    --vs-pinterest: 189, 8, 28;
    --vs-linkedin: 0, 119, 181;
    --vs-snapchat: 255, 252, 0;
    --vs-whatsapp: 37, 211, 102;
    --vs-tumblr: 54, 70, 93;
    --vs-reddit: 255, 69, 0;
    --vs-spotify: 30, 215, 96;
    --vs-amazon: 255, 153, 0;
    --vs-medium: 2, 184, 117;
    --vs-vimeo: 26, 183, 234;
    --vs-skype: 0, 175, 240;
    --vs-dribbble: 234, 76, 137;
    --vs-slack: 74, 21, 75;
    --vs-yahoo: 67, 2, 151;
    --vs-twitch: 100, 65, 164;
    --vs-discord: 114, 137, 218;
    --vs-telegram: 0, 136, 204;
    --vs-google-plus: 219, 68, 55;
    --vs-messenger: 0, 132, 255;
    --vs-background: 255, 255, 255;
    --vs-text: 44, 62, 80;
    --vs-gray-1: 249, 252, 253;
    --vs-gray-2: 244, 247, 248;
    --vs-gray-3: 240, 243, 244;
    --vs-gray-4: 230, 233, 234;
}


